/* You can add global styles to this file, and also import other style files */
@import './scss/core.scss';

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.margin {
  margin: 16px;
}

// gotta be a better way todo this
.no-margin {
  margin: 0;
}

.no-margin.mat-display-1 {
  margin: 0;
}

.margin-top-bottom {
  margin: 16px 0;
}

.margin-left-right {
  margin: 0 16px;
}

.view-container-padding {
  padding: 16px;
}

.main-view-container {
  height: calc(100% - 64px);
}

mat-sidenav {
  width: 15%;
  min-width: 15%;
}

/*change later, hard to tell*/
.active-link {
  background-color: rgba(100, 100, 100, 0.8);
}

/*bottom of side-nav*/
.bottom {
  position: absolute;
  bottom: 0;
}

.center-text {
  text-align: center;
}

mat-icon.center-icon {
  text-align: center;
  line-height: 40px;
}

mat-icon.icon {
  font-size: 40px;
}

.clickable {
  cursor: pointer;
}
